<%- include('header.ejs') %>

<!-- posts -->
<div class="about-container">
    <h4 class="post-heading">About me</h4>
    <p class="post-preview">My name is sadik keyton and i love pubg and this is my daily journal Where i write the things i do daily.
    Please don't read my secrets.</p>
</div>










<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
<%- include('footer.ejs') %>
</html>
